@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
  }
  .header-container {
    max-width: 100%;
  }
  .cover-container {
    max-width: 100%;
  }
  .cover {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desctop-bg-1x.jpg);
  }
  .features-list {
    display: flex;
    gap: 24px;
  }
  .title-list {
    display: flex;
    gap: 24px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
  }
  .customers-list {
    display: flex;
    gap: 24px;
  }
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .cover {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/desctop-bg-2x.jpg");
  }
}
