@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
  .container {
    width: 768px;
  }
  .nav-logo {
    margin-right: 123px;
  }
  .footer .nav-logo {
    display: block;
    margin-bottom: 16px;
    line-height: 1.1;
    text-align: left;
    margin-right: 173px;
  }
  .mobile-menu-open {
    display: none;
  }

  .contact-links {
    flex-direction: column;
    row-gap: 4px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
  }
  .contact-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--secondary-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  /* cover */
  .cover {
    padding-top: 108px;
    padding-bottom: 108px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tablet-bg-1x.jpg);
  }
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    display: flex;
    margin-right: auto;
  }
  .header-links {
    display: flex;
  }

  .contact-links {
    display: flex;
  }

  .nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-title-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .list {
    list-style: none;
  }
  .link {
    text-decoration: none;
  }

  .cover-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cover-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.1;
    margin-bottom: 40px;
  }
  .cover-button {
    width: 169px;
    height: 56px;
  }
  /* features */
  .content {
    display: none;
  }
  .features {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .features-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;

    justify-content: center;
  }
  .features-item {
    width: calc((100% - 24px) / 2);
  }
  .services {
    display: none;
  }
  /* team */
  .team {
    padding-top: 96px;
    padding-bottom: 104px;
  }
  .title-list {
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    column-gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .team-item {
  }
  .box-second {
  }

  /* customers */
  .customers {
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .customers-list {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    row-gap: 72px;
    justify-content: center;
  }
  .customers-link {
    width: 100%;
    height: 100%;
  }
  .customers-item {
    width: calc((100% - 48px) / 3);
    height: 88px;
  }

  .footer {
    background-color: var(--primary-title-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }
  .social {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
  }
  .footer-first-part {
    width: 264px;
    margin-right: 24px;
  }

  .footer-second-part {
  }
  .footer-second-part-title {
    text-align: left;
  }
  .footer-form-subscribe {
    /* flex-direction: row;
    top: 20px;
    justify-content: left; */
    /* width: 405px; */
  }
  .footer-form-title {
    text-align: left;
  }
  .footer-form-input {
    width: 264px;
    margin-bottom: 0;
    margin-right: 24px;
  }
  .footer-form-input-submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .modal {
    width: 408px;
    height: 586px;
  }
}
/* .cover {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/tablet-bg-1x.jpg);
} */
@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .cover {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/tablet-bg-2x.jpg");
  }
}
